<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Thymeleaf in action</title>
</head>
<body>
<!--引入头部公共部分-->
<div th:replace="~{fragments/header:: header}"></div>
<h3 th:text="${userModel.title}"></h3>
<!--创建用户跳转链接 start-->
<div>
    <a href="/users/form.html" th:href="@{/users/form}">创建用户</a>
</div>
<!--创建用户跳转链接 end-->

<!--创建用户表 start-->
<table th:border="1">
    <thead>
    <tr>
        <td>ID</td>
        <td>Name</td>
        <td>Email</td>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${userModel.userList.size() eq 0}">
        <td colspan="3">没用用户信息！</td>
    </tr>
    <tr th:each="user :${userModel.userList}">
        <td th:text="${user.id}"></td>
        <td th:text="${user.email}"></td>
        <td><a th:href="@{'/users/'+${user.id}}" th:text="${user.name}"></a></td>
    </tr>
    </tbody>
</table>
<!--创建用户表 end-->

<!--引入底部公共部分-->
<div th:replace="~{fragments/footer:: footer}"></div>
</body>
</html>