<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>操作提示页面</title>
</head>
<body>
    <table border="1" style="width: 600px">
        <tr>
            <th>用户id</th>
            <th>用户姓名</th>
            <th>口令</th>
            <th>年龄</th>
            <th>性别</th>
            <th>更新操作</th>
            <th>删除操作</th>
        </tr>
        <tr th:each="user : ${list}">
            <td th:text="${user.id}"></td>
            <td th:text="${user.username}"></td>
            <td th:text="${user.password}"></td>
            <td th:text="${user.age}"></td>
            <td th:text="${user.sex}"></td>
            <td>
                <a th:href="@{/user/findUserById(id=${user.id})}">更新用户</a>
            </td>
            <td>
                <a th:href="@{/user/delUser(id=${user.id})}">删除用户</a>
            </td>
        </tr>
    </table>
</body>
</html>