<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>操作提示页面</title>
</head>
<body>
<form th:action="@{/user/editUser}" method="post">
    <input type="hidden" name="id" th:field="${user.id}"/><br/>
    姓名:<input type="text" name="username" th:field="${user.username}"/><br/>
    口令:<input type="text" name="password" th:field="${user.password}"/><br/>
    年龄:<input type="text" name="age" th:field="${user.age}"/><br/>
    性别:<input type="text" name="sex" th:field="${user.sex}"/><br/>
    <input type="submit" value="确认"/><br/>
</form>
</body>
</html>